body{
   
    background: url(Public/fondo.jpg);
    
    background-size: cover;
    
    }
    
    
    header{
    
       display: flex;
       grid-template-columns: 1fr 1fr;

    }

    .contenedor{

      width: 95%;


    }


       
    header{
    
       margin: 20px;
    }
    
    
    .in-flex{
    
    flex: 1;
    min-width: 100px;
    
    
    }
    
    .in-flex{
    
       flex: 1;
       padding: 10px;
       margin: 20px;
       margin-bottom: 10px;
       
       }
    
    
    
    header{ 
    
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    
    }

    
    
    
    
    
    header{
    
    margin: 1px;
    text-align:center;
    
    }
    
    
    
    
    
    ul{
    
        margin: 0px;
        list-style: none;
        display:flex;
        justify-content:flex-end;
        gap: 25px;
        padding: 7px 12px;
        color: red;
       
        
    }
    
    ul li a{
    
    color: rgb(255, 0, 0);
    
    }
    
    body{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(red, green, blue);
    
    }
    
    .card{
    
    position:relative;
    width: 300px;
    height: 150px;
    margin: 150px;
    
    }
     .card .face {
    
        position: absolute;
        width: 400px;
        height: 250px;
        backface-visibility: hidden;
        overflow: hidden;
        transition: .5s;
     }
    
      .card .front{ 
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 20px #888
      } 
    
      .card .front img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
    
      .card .front h3 {
    
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 45px;
        line-height: 45px;
         color: crimson;
         background: rgba(red, green, blue, alpha);
         text-align: center;
    
    
      }
    
     .card .back {
    
        transform: perspective(600px) rotateY(180deg);
        background: rgba(red, green, blue, alpha);
        color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0 5px 10px #000;
     }
     
    
     
    
     .card .back .link {
    
        border-top: solid 1px #fff;
        height: 50px;
        line-height: 50px;
    
     }
     
     .card .back .link a {
    
    
        color: #fff;
     }
    
     .card .back h3 { 
        font-size: 30px;
        margin-top: 5px;
        letter-spacing:5px;
    
     }
    
     .card .back p {
        letter-spacing: 1px;
     }
    
    
    .card:hover .front {
        transform: perspective(600px)rotateY(180deg);
    }
    
    .card:hover .back  {
        transform: perspective(600px)rotateY(360deg);
    }
    


    
    
    
    